<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<!-- Cấu hình Servlet -->
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>com.poly.controller.HomeServlet</servlet-class>
	</servlet>

	<!-- Mapping cho /home -->
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- ✅ Filter 1 LoggingFilter (chạy trước) -->
	<filter>
	    <filter-name>LoggingFilter</filter-name>
	    <filter-class>com.poly.filter.LoggingFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>LoggingFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- ✅ Filter 2 AuthenticationFilter (chạy thứ 2) -->
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.poly.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- ✅ Filter 3: AuthorizationFilter (chạy thứ 3) -->
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>com.poly.filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
	    <servlet-name>AdminVideoServlet</servlet-name>
	    <servlet-class>com.poly.controller.admin.AdminVideoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AdminVideoServlet</servlet-name>
	    <url-pattern>/admin/videos</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>AdminUserServlet</servlet-name>
	    <servlet-class>com.poly.controller.admin.AdminUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>AdminUserServlet</servlet-name>
	    <url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
    
	<servlet>
	    <servlet-name>PosterServlet</servlet-name>
	    <servlet-class>com.poly.controller.PosterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>PosterServlet</servlet-name>
	    <url-pattern>/poster</url-pattern>
	</servlet-mapping>
	
	<error-page>
	    <error-code>403</error-code>
	    <location>/error</location>
	</error-page>
	<error-page>
	    <error-code>404</error-code>
	    <location>/error</location>
	</error-page>


</web-app>
